.clear {
  clear: both;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.navBack {
  background-color: #936DB3;
}
.menu {
  text-align: center;
  padding: 15px 0px;
  font-size: 1.2rem;
}
.logo {
  color: #FFEDCF;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 11px 0px 11px 35px;
}
.menu a {
  text-decoration: none;
  color: white;
}
.menu a:hover {
  color: #9CFFC2;
}
.mainImg img {
  max-width: 100%;
}
.container-fluid {
  padding: 0px;
}
main {
  background-color: #FFEDCF;
}
.boxes {
  padding: 0 2%;
}
.gut {
  padding: 0 0.5%;
  margin: 0px;
}
figure {
  position: relative;
}
.tag {
  position: absolute;
  text-align: center;
  top: 10%;
  font-size: 5rem;
  width: 100%;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.5);
}
#stone {
  color: black;
}
#sooth {
  color: #9CFFC2;
}
#trig {
  color: #936DB3;
}
.lowTag {
  position: absolute;
  text-align: center;
  bottom: 10%;
  font-size: 3rem;
  width: 100%;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.7);
  color: #9CFFC2;
}
.footBack {
  background-color: #936DB3;
  padding-top: 10px;
  padding-bottom: 35px;
}
.menuFoot {
  padding: 15px 0px;
}
.menuFoot a {
  text-decoration: none;
  color: white;
}
.menuFoot a:hover {
  color: #9CFFC2;
}
.footHead {
  color: #FFEDCF;
  font-weight: 700;
  font-size: 1.3rem;
}
